@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  color: #111c25;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}

li {
  list-style-type: none;
}

ul {
  padding: 0 15px;
}

p,
h1 {
  margin: 0;
}

button:hover {
  background-color: #d80b0b;
}

.add-task-button:hover {
  background-color: #414491;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type=text] {
  max-width: 100%;
  border-radius: 5px;
  background-color: white;
  color: #1a1a1a;
  border: solid #0060DF 2px;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  border-radius: 5px;
  background-color: white;
  border: solid #0060DF 2px;
  padding: 10px;
  max-width: 100%;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.task-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.app-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-card {
  border: solid #0060DF 2px;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
}

.task-title {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-bottom: 60px;
  font-family: "Nanum Pen Script", cursive;
}

.task-list-header {
  text-align: center;
  color: rgb(96, 96, 96);
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
}

.task-checkbox {
  width: 15px;
  height: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.task-completed {
  opacity: 0.5;
}

.delete-task-button {
  opacity: 1;
  background: #d80b0b;
  margin-top: 10px;
  display: block;
}

.task-list-section {
  border: #0060DF 0.2px solid;
  height: 700px;
  overflow-y: scroll;
  padding: 0 20px;
}

.task-actions {
  position: relative;
}

.arrow-icon {
  position: absolute;
  top: -30px;
  left: -50px;
  rotate: -30deg;
}

span {
  position: absolute;
  top: -45%;
  left: -100px;
  rotate: -40deg;
  font-size: 17px;
  font-family: "Nanum Pen Script", cursive;
  color: gray;
}

.show-text{
  display: flex;
  font-family: "Nanum Pen Script", cursive;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: gray;
  width: 100%;
  height: 500px;
}

.hide-text{
  display: none;
}

@media only screen and (max-width: 868px) {
  .app-container {
    flex-direction: column;
    overflow: hidden;
  }

  .task-list-section {
    margin-top: 50px;
    border: none;
    border-top: 2px solid #747bff;
  }

  .task-card {
    width: 400px;
  }
}
